service: fishing-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1 
  profile: Fising-spot-server
  architecture: x86_64
  stage: prod
  environment:
    NODE_OPTIONS: "--enable-source-maps"
    CLIENT_URL: ${ssm:/CLIENT_URL~true}
    CLOUDINARY_APIKEY: ${ssm:/CLOUDINARY_APIKEY~true}
    CLOUDINARY_APISECRET: ${ssm:/CLOUDINARY_APISECRET~true}
    CLOUDINARY_NAME: ${ssm:/CLOUDINARY_NAME~true}
    CLOUDINARY_URL: ${ssm:/CLOUDINARY_URL~true}
    MONGO_URI: ${ssm:/MONGO_URI~true}
    SECRETKEY: ${ssm:/SECRETKEY~true}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ssm:GetParameter
            - ssm:GetParameters
            - ssm:GetParametersByPath
          Resource: "*"
  httpApi:
    cors:
      allowedOrigins:
        - http://fishing-spot-bucket.s3-website.eu-north-1.amazonaws.com  
      allowedHeaders: ["*"]
      allowedMethods: ["GET","POST","PUT","DELETE","OPTIONS"]
      maxAge: 86400

functions:
  api:
    handler: dist/lambda.handler
    events:
      - httpApi: "*"

package:
  patterns:
    - dist/**
    - node_modules/**
    - "!node_modules/.cache/**"
    - package.json
